---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a
	href={href}
	class:list={[
		'inline-block px-4 py-2 text-[14px] font-medium transition-all duration-200 no-underline',
		isActive 
			? 'text-[#111111] bg-gray-100/50 rounded-lg' 
			: 'text-gray-600 hover:text-[#111111] hover:bg-gray-50 rounded-lg',
		className
	]}
	{...props}
>
	<slot />
</a>
